* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Roboto', sans-serif;
    --font-size: 18px;
    --font-weight-normal-text: 300;
    --font-weight-h1: 700;
    --font-weight-h2-6: 400;
}

body {
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal-text);
    font-family: var(--font-family);
}